<div class="text-center items-center">
	<div class="relative bg-neutral-700 rounded-2xl">
		<div class="flex items-center px-5 text-neutral-100 rounded-e-2xl">
			<div class="flex mr-auto px-4 py-6">
				<div class="screen-header-button close"></div>
				<div class="screen-header-button maximize"></div>
				<div class="screen-header-button minimize"></div>
			</div>
		</div>
		<div class="bg-neutral-900 flex justify-center pb-4 rounded-b-2xl pt-6">
			<h2>Twitter</h2>
		</div>
	</div>
</div>
<style>
	.screen-header-button {
		display: inline-block;
		width: 8px;
		height: 8px;
		margin-right: 7px;
		border-radius: 8px;
		background: white;
	}
	.screen-header-button.close {
		background: #ed1c6f;
	}

	.screen-header-button.maximize {
		background: #e8e925;
	}

	.screen-header-button.minimize {
		background: #74c54f;
	}
</style>
