<footer class="footer">
	<div class="w-screen text-sm text-center p-8 text-neutral-400 bg-neutral-950">
		<p>
			Copyright © 2022. <a href="#">@bl4zek</a><br />
			All Rights Reserved
		</p>
	</div>
</footer>
