<header class="py-6 px-20 flex items-center justify-around top-0 w-full">
	<a href="#" class="text-xl brand-name">kevin05m</a>
	<nav>
		<ul class="flex gap-10 [&>li>a]:text-neutral-400">
			<li><a href="#" class="hover:text-lime-400">Inicio</a></li>
			<li><a href="#" class="hover:text-lime-400">Experiencia</a></li>
			<li><a href="#" class="hover:text-lime-400">Proyetos</a></li>
			<li><a href="#" class="hover:text-lime-400">Contacto</a></li>
		</ul>
	</nav>
</header>
<style>
	.brand-name::before {
		content: "<";
		color: #cefe1a;
	}
	.brand-name::after {
		content: " />";
		color: #cefe1a;
	}
</style>
